# config.py
DB_CONFIG = {
    "host": "localhost",
    "user": "root",
    "password": "Your_SQL_Password",
    "database": "inventory_db"
}

APP_NAME = "StockFlow Pro"
APP_VERSION = "1.0"
THEME_COLOR = "#38bdf8"